.coin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem;
    width: 100% ;
    border-bottom: 1px solid gray;
    background-color: rgb(149, 0, 255);
    border-radius: 6px;
    font-weight: bold;
}

.coin:hover {
    box-shadow: 3px 3px 0 0 #000;
    -webkit-transform: translate(-2px,-4px);
    -ms-transform: translate(-2px,-4px);
    transform: translate(-2px,-4px);
    cursor: pointer;
}

.coin > span {
    margin-right: 1rem;
    width: 100%;
    text-align: center;
}

.icon {
    width: 1% !important;
    margin: 0 !important;
    z-index: 3;
}

.icon > svg {
    font-size: 22px;
}

.icon > svg:hover {
    color: black;
}

.rank {
    margin-left: -40px !important;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.price {
    letter-spacing: 1.2px;
}

.changePercent24Hr {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    letter-spacing: 1.2px;
}

@media only screen and (max-width:1024px) {
    .rank {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width : 885px) {
    .coin {
      width: 100%;
      overflow-x  : scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }