.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  letter-spacing: 15px;
}

.logo span {
  color: black;
  font-size: 3rem;
}

.searchContainer {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.deneme {
  position: absolute !important;
  right: 0;
}

.deneme:hover {
  color: rgb(191, 0, 250);
}

.searchContainer > div {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}

.searchContainer > div > input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 24px;
}

.searchContainer > div > svg {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
