.container {
  padding: 0 2rem;
  background-color: rgb(91, 0, 156);
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchContainer > div {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}

.searchContainer > div > input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 4px;
}

.searchContainer > div > svg {
  position: absolute;
  right: 0;
  padding-top: 9px;
  padding-right: 10px;
}

.coinListContainer {
  width: 100% ;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coinList {
  width: 100%;
}

.headers {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.headers > span {
  padding: 0 20px;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}