/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
  padding: 0 2rem;
  /* background-color: rgb(91, 0, 156); */
  background: hsla(275, 100%, 31%, 1);
  background: linear-gradient(270deg, hsla(275, 100%, 31%, 1) 50%, hsla(290, 25%, 76%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(275, 100%, 31%, 1) 50%, hsla(290, 25%, 76%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(275, 100%, 31%, 1) 50%, hsla(290, 25%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5B009C", endColorstr="#CCB3D1", GradientType=1 );
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 300vh;
  min-width: 1000px;
}

.message {
  margin: 0;
  text-align: center;
  padding-top: 450px;
  font-size: 1.5rem;
}

.coinListContainer {
  width: 100% ;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coinList {
  width: 100%;
}

.headers {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.headers > span {
  padding: 0 20px;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}

.infoText {
  padding: 1rem 3rem;
  font-weight: bold;
  color: rgb(255, 192, 203);
}

@media only screen and (max-width : 885px) {
  .coinListContainer {
    font-size: 1rem;
  }
}